@{
    ViewBag.AdminTitle = "Hakkımda içeriği";
}
<hr />
<a href="@Url.Action("Edit")" class="btn btn-block btn-outline-primary">Düzenle</a>
<br />
<h3 class="text-center" style="color:rebeccapurple;">
    @Model.TitleName
</h3>
@Html.Raw(@Model.AboutDescription)

