@model MvcBlogProject.Models.AboutViewModel
@{
    ViewBag.Title = "Hakkımda";
}

<!--MAIN-->
<main id="main" class="site-main row">
    <h2>HAKKIMDA</h2>
    <div class="col-12" style="background-color:coral;height:400px;">
        <p>Title : @Model.Title</p>
        <p></p>
    </div>

</main>
<!--MAIN-->
<!--SIDEBAR-->
@Html.Partial("_Sidebar")
<!--SIDEBAR-->