@{
    ViewBag.Title = "Contact";
}
<main id="main" class="site-main">
    <h2>İLETİŞİM</h2>
    <div class="" style="background-color:coral;height:400px;">
        <p>@Model.FullName </p>
        @Html.Raw(Model.ContactPageContent)
        <p> @Model.TitleName</p>
        <p>@Model.PhoneNumber</p>
    </div>
</main>
